*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor:pointer;}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style-type: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {
    font-style: inherit;
    font-weight: 400;
}



/* ---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
/* Newsreader, Inter */
/* "Newsreader", serif
"Inter", sans-serif */

body, header, html {
    margin: 0 auto;
}
body {
    background-color: #ffffffd8;
}
header {
    height: calc(112px / 3 * 4);
    
}
.homeButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(96px / 3 * 4);
    top: calc(41px / 3 * 4);
    bottom: calc(31px / 3 * 4);

    color: #426B1F;
    font-family: "Newsreader", serif;
    font-size: calc(32px / 3 * 4);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: left;

    width: calc(200px / 3 * 4);
    height: calc(37px / 3 * 4);
}
.shopButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(744px / 3 * 4);
    top: calc(45.5px / 3 * 4);
    bottom: calc(45.5px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    width: calc(44px / 3 * 4);
    height: calc(26px / 3 * 4);
}
.newsButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(831px / 3 * 4);
    top: calc(45.5px / 3 * 4);
    bottom: calc(45.5px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    width: calc(82px / 3 * 4);
    height: calc(26px / 3 * 4);
}
.aboutButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(956px / 3 * 4);
    top: calc(45.5px / 3 * 4);
    bottom: calc(45.5px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    width: calc(95px / 3 * 4);
    height: calc(26px / 3 * 4);
}
.profileButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(1094px / 3 * 4);
    top: calc(45.5px / 3 * 4);
    bottom: calc(45.5px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    width: calc(81px / 3 * 4);
    height: calc(26px / 3 * 4);
}
.basketButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(1218px / 3 * 4);
    top: calc(32px / 3 * 4);
    bottom: calc(32px / 3 * 4);
    width: calc(126px / 3 * 4); 
    height: calc(48px / 3 * 4);
    border-radius: 8px;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    justify-content: center;
    
    background-color: #426B1F;

    transition: filter 0.3s ease;
}
.basketButton:hover {
    filter: brightness(0.8);
}

.basketHeader {
    position: absolute;
    height: calc(149px / 3 * 4);
    width: calc(1440px / 3 * 4);

    top: calc(112px / 3 * 4);
}
.caption {
    position: absolute;
    width: calc(227px / 3 * 4);
    height: calc(77px / 3 * 4);
    left: calc(96px / 3 * 4);
    top: calc(56px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Newsreader", serif;
    font-size: calc(64px / 3 * 4);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
}
.divider {
    position: absolute;
    width: calc(1248px / 3 * 4);
    height: 0;

    left: calc(96px / 3 * 4);
    top: calc(148px / 3 * 4);

    border: 2px solid rgb(230, 230, 230);
    border-bottom: none;
}
.itemsTypeCount {
    position: absolute;
    top: calc(90px / 3 * 4);
    left: calc(301px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(20px * 1.2);
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.productList {
    position: absolute;
    width: calc(820px / 3 * 4);
    height: calc(540px / 3 * 4);
    left: calc(96px / 3 * 4);
    top: calc(300px / 3 * 4);
}
.product {
    position: absolute;
    width: calc(821px / 3 * 4);
    height: calc(159px / 3 * 4);

    box-sizing: border-box;
    border: 2px solid rgb(230, 230, 230);
    border-radius: calc(24px / 3 * 4);
    background: rgb(250, 250, 245);
}
.product_1 {
    top: 0px;
}
.product_2 {
    top: calc(191px / 3 * 4);
}
.product_3 {
    top: calc(382px / 3 * 4);
}
.productPicture {
    position: absolute;
    width: calc(160px / 3 * 4);
    height: calc(160px / 3 * 4);

    border-radius: calc(24px / 3 * 4) 0 0 calc(24px / 3 * 4);
}
.productName {
    position: absolute;
    left: calc(184px / 3 * 4);
    top: calc(24px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(20px * 1.2);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.productLbPrice {
    position: absolute;
    left: calc(184px / 3 * 4);
    top: calc(54px / 3 * 4);

    color: rgb(66, 107, 31);
    font-family: "Inter", sans-serif;
    font-size: calc(20px * 1.2);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.totalPrice {
    position: absolute;
    left: calc(740px / 3 * 4);
    top: calc(24px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(20px * 1.2);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
}
.inputLbField {
    position: absolute;
    width: calc(128px / 3 * 4);
    height: calc(40px / 3 * 4);
    left: calc(184px / 3 * 4);
    top: calc(95px / 3 * 4);

    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: calc(20px / 3 * 4);

    background: rgb(255, 255, 255);
}
.text {
    position: absolute;
    left: calc(16px / 3 * 4);
    top: calc(9.5px / 3 * 4);

    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
input[type="text"] {
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;

    width: calc(95px);
}
.icon {
    position: absolute;
    width: calc(36px / 3 * 4);
    height: calc(36px / 3 * 4);
    left: calc(88px / 3 * 4);
    top: calc(1px / 3 * 4);

    z-index: 1;
    border-radius: 50%;
    transition: filter 0.5s ease;
}
.icon:hover {
    filter: brightness(0.8);
}
.union {
    position: absolute;
    width: calc(32px / 3 * 4);
    height: calc(32px / 3 * 4);

    left: 4px;
    top: calc(1px / 3 * 4);
}
[id="inputTag"] {
    display: none;
}
.orderSummary {
    position: absolute;
    width: calc(395px / 3 * 4);
    height: calc(318px / 3 * 4);
    left: calc(949px / 3 * 4);
    top: calc(301px / 3 * 4);

    box-sizing: border-box;
    border: 2px solid rgb(230, 230, 230);
    border-radius: calc(24px / 3 * 4);
    background: rgb(250, 250, 245);

    
}
.orderSummaryText {
    position: absolute;

    width: calc(151px / 3 * 4);
    height: calc(26px / 3 * 4);

    left: calc(24px / 3 * 4);
    top: calc(24px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(20px * 1.2);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.subtotalText {
    position: absolute;

    width: calc(64px / 3 * 4);
    height: calc(21px / 3 * 4);

    left: calc(24px / 3 * 4);
    top: calc(82px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.shippingText {
    position: absolute;

    width: calc(66px / 3 * 4);
    height: calc(21px / 3 * 4);

    left: calc(24px / 3 * 4);
    top: calc(119px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.taxText {
    position: absolute;

    width: calc(27px / 3 * 4);
    height: calc(21px / 3 * 4);

    left: calc(24px / 3 * 4);
    top: calc(156px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.totalText {
    position: absolute;

    width: calc(39px / 3 * 4);
    height: calc(21px / 3 * 4);

    left: calc(24px / 3 * 4);
    top: calc(193px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.subtotal {
    position: absolute;
    width: calc(54px / 3 * 4);
    height: calc(21px / 3 * 4);
    left: calc(317px / 3 * 4);
    top: calc(82px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
}
.shipping {
    position: absolute;
    width: calc(44px / 3 * 4);
    height: calc(21px / 3 * 4);
    left: calc(327px / 3 * 4);
    top: calc(119px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
}
.tax {
    position: absolute;
    width: calc(45px / 3 * 4);
    height: calc(21px / 3 * 4);
    left: calc(326px / 3 * 4);
    top: calc(156px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
}
.total {
    position: absolute;
    width: calc(56px / 3 * 4);
    height: calc(21px / 3 * 4);
    left: calc(315px / 3 * 4);
    top: calc(190px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
}
.continueButton {
    position: absolute;
    width: calc(347px / 3 * 4);
    height: calc(48px / 3 * 4);

    left: calc(24px / 3 * 4);
    top: calc(246px / 3 * 4);

    border-radius: 8px; 
    background: rgb(66, 107, 31);
}
.continueToPaymentText {
    position: absolute;
    width: calc(163px / 3 * 4);
    height: calc(21px / 3 * 4);

    left: calc(24px / 3 * 4);
    top: calc(14px / 3 * 4);

    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: calc(16px * 1.2);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.arrow {
    position: absolute;
    width: calc(32px / 3 * 4);
    height: calc(32px / 3 * 4);

    left: calc(299px / 3 * 4);
    top: calc(8px / 3 * 4);
}