*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor:pointer;}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style-type: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {
    font-style: inherit;
    font-weight: 400;
}



/* ---------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
/* Newsreader, Inter */
/* "Newsreader", serif
"Inter", sans-serif */



body, header, html {
    margin: 0 auto;
}
body {
    background-color: #ffffffd8;
}
header {
    height: calc(112px / 3 * 4);
    
}
.homeButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(96px / 3 * 4);
    top: calc(41px / 3 * 4);
    bottom: calc(31px / 3 * 4);

    color: #426B1F;
    font-family: "Newsreader", serif;
    font-size: calc(32px / 3 * 4);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: left;

    width: calc(200px / 3 * 4);
    height: calc(37px / 3 * 4);
}
.shopButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(744px / 3 * 4);
    top: calc(45.5px / 3 * 4);
    bottom: calc(45.5px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    width: calc(44px / 3 * 4);
    height: calc(26px / 3 * 4);
}
.newsButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(831px / 3 * 4);
    top: calc(45.5px / 3 * 4);
    bottom: calc(45.5px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    width: calc(82px / 3 * 4);
    height: calc(26px / 3 * 4);
}
.aboutButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(956px / 3 * 4);
    top: calc(45.5px / 3 * 4);
    bottom: calc(45.5px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    width: calc(95px / 3 * 4);
    height: calc(26px / 3 * 4);
}
.profileButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(1094px / 3 * 4);
    top: calc(45.5px / 3 * 4);
    bottom: calc(45.5px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    width: calc(81px / 3 * 4);
    height: calc(26px / 3 * 4);
}
.basketButton {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: calc(1218px / 3 * 4);
    top: calc(32px / 3 * 4);
    bottom: calc(32px / 3 * 4);
    width: calc(126px / 3 * 4); 
    height: calc(48px / 3 * 4);
    border-radius: 8px;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    justify-content: center;
    
    background-color: #426B1F;

    transition: filter 0.3s ease;
}
.basketButton:hover {
    filter: brightness(0.8);
}

.sortHeader {
    position: relative;
    height: calc(149px / 3 * 4);
}
.divider {
    position: absolute;
    width: calc(1248px / 3 * 4);
    height: 0;

    left: calc(96px / 3 * 4);
    top: calc(148px / 3 * 4);

    border: 2px solid rgb(230, 230, 230);
    border-bottom: none;
}
.caption {
    position: absolute;
    width: calc(227px / 3 * 4);
    height: calc(77px / 3 * 4);
    left: calc(96px / 3 * 4);
    top: calc(56px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Newsreader", serif;
    font-size: calc(64px / 3 * 4);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
}
.todayLocate {
    position: absolute;
    top: calc(90px / 3 * 4);
    left: calc(347px / 3 * 4);
}
.boldFresh {
    font-family: "Inter", sans-serif;
    font-size: calc(20px * 1.2);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.today {
    font-family: "Inter", sans-serif;
    font-size: calc(17px * 1.2);
    font-weight: lighter;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.defaultSortButton {
    position: absolute;
    width: calc(88px / 3 * 4);
    height: calc(40px / 3 * 4);
    left: calc(1077px / 3 * 4);
    top: calc(85px / 3 * 4);

    box-sizing: border-box;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 20px;
    background: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(15px / 3 * 4);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-block;
    justify-content: center;
}
.a-zSortButton {
    position: absolute;
    width: calc(62px / 3 * 4);
    height: calc(40px / 3 * 4);
    left: calc(1173px / 3 * 4);
    top: calc(85px / 3 * 4);

    box-sizing: border-box;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 20px;
    background: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(15px / 3 * 4);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-block;
    justify-content: center;
}
.priceSortButton {
    position: absolute;
    width: calc(101px / 3 * 4);
    height: calc(40px / 3 * 4);
    left: calc(1243px / 3 * 4);
    top: calc(85px / 3 * 4);

    box-sizing: border-box;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 20px;
    background: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(15px / 3 * 4);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-block;
    justify-content: center;
}
.active {
    background-color: #426B1F;
    color: rgb(255, 255, 255);
    border: 0;

    transition: filter 0.3s ease;
}
.active:hover {
    filter: brightness(0.8);
}
.productList {
    position: relative;
    width: calc(1248px / 3 * 4);
    height: calc(718px / 3 * 4);
    left: calc(96px / 3 * 4);
    top: calc(180px / 3 * 4);
}
.product {
    position: absolute;
    width: calc(395px / 3 * 4);
    height: calc(444px / 3 * 4);

    box-sizing: border-box;
    border: 2px solid rgb(230, 230, 230);
    border-radius: calc(24px / 3 * 4);
    background: rgb(250, 250, 245);
}
.heirloomTomatoProduct {
    position: absolute;
    left: 0px;
    top: 0px;
}
.sweetOnionProduct {
    position: absolute;
    left: calc(427px / 3 * 4);
    top: 0px;
}
.organicGingerProduct {
    position: absolute;
    left: calc(854px / 3 * 4);
    top: 0px;
}

[id="1"] {
    left: 0px;
    top: 0px;
}
[id="2"] {
    left: calc(427px / 3 * 4);
    top: 0px;
}
[id="3"] {
    left: calc(854px / 3 * 4);
    top: 0px;
}


.name {
    position: absolute;
    width: calc(162px / 3 * 4);
    height: calc(26px / 3 * 4);

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: calc(20px / 3 * 4);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.price {
    position: absolute;
    width: calc(102px / 3 * 4);
    height: calc(26px / 3 * 4);

    color: rgb(66, 107, 31);
    font-family: "Inter", sans-serif;
    font-size: calc(20px / 3 * 4);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.grown {
    position: absolute;
    width: calc(280px / 3 * 4);
    height: calc(24px / 3 * 4);

    color: rgb(109, 109, 109);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.picture {
    z-index: 1;
    position: absolute;
    width: calc(395px / 3 * 4);
    height: calc(296px / 3 * 4);

    box-sizing: border-box;
    border: 2px solid rgb(230, 230, 230);
    border-radius: calc(24px / 3 * 4) calc(24px / 3 * 4) 0 0;
}
.minus {
    z-index: 1;
    position: absolute;
    width: calc(14px / 3 * 4);
    height: calc(0.2px / 3 * 4);

    border: 1.5px solid rgb(128, 128, 128);
    background: rgba(0, 0, 0, 0);
}
.frame {
    z-index: 1;
    position: absolute;
    width: calc(24px / 3 * 4);
    height: calc(24px / 3 * 4);

    border: 2px solid rgb(128, 128, 128);
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
}
.number {
    position: absolute;
    z-index: 2;

    color: rgb(109, 109, 109);
    font-family: "Inter", sans-serif;
    font-size: calc(16px / 3 * 4);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}
.reduce {
    z-index: 5;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: calc(24px / 3 * 4);
    height: calc(24px / 3 * 4);
}

[id="name_1"] {
    left: calc(24px / 3 * 4);
    top: calc(320px / 3 * 4);
}
[id="name_2"] {
    left: calc(451px / 3 * 4);
    top: calc(320px / 3 * 4);
}
[id="name_3"] {
    left: calc(878px / 3 * 4);
    top: calc(320px / 3 * 4);
}
[id="price_1"] {
    left: calc(24px / 3 * 4);
    top: calc(350px / 3 * 4);
}
[id="price_2"] {
    left: calc(451px / 3 * 4);
    top: calc(350px / 3 * 4);
}
[id="price_3"] {
    left: calc(878px / 3 * 4);
    top: calc(350px / 3 * 4);
}
[id="grown_1"] {
    left: calc(24px / 3 * 4);
    top: calc(392px / 3 * 4);
}
[id="grown_2"] {
    left: calc(451px / 3 * 4);
    top: calc(392px / 3 * 4);
}
[id="grown_3"] {
    left: calc(878px / 3 * 4);
    top: calc(392px / 3 * 4);
}
[id="picture_1"] {
    left: calc(0px / 3 * 4);
    top: calc(0px / 3 * 4);
}
[id="picture_2"] {
    left: calc(427px / 3 * 4);
    top: calc(0px / 3 * 4);
}
[id="picture_3"] {
    left: calc(854px / 3 * 4);
    top: calc(0px / 3 * 4);
}
[id="number_1"] {
    left: calc(326px / 3 * 4);
    top: calc(329px / 3 * 4);
}
[id="number_2"] {
    left: calc(753px / 3 * 4);
    top: calc(329px / 3 * 4);
}
[id="number_3"] {
    left: calc(1180px / 3 * 4);
    top: calc(329px / 3 * 4);
}
[id="minus_1"] {
    left: calc(285px / 3 * 4);
    top: calc(328px / 3 * 4);
}
[id="minus_2"] {
    left: calc(712px / 3 * 4);
    top: calc(328px / 3 * 4);
}
[id="minus_3"] {
    left: calc(1139px / 3 * 4);
    top: calc(328px / 3 * 4);
}
[id="plus_1"] {
    left: calc(353px / 3 * 4);
    top: calc(328px / 3 * 4);
}
[id="plus_2"] {
    left: calc(780px / 3 * 4);
    top: calc(328px / 3 * 4);
}
[id="plus_3"] {
    left: calc(1207px / 3 * 4);
    top: calc(328px / 3 * 4);
}
[id="inputTag"] {
    display: none;
}