<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/read.css}">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script th:src="@{js/read.js}" defer="defer"></script>
    <title>World Peas | Read news</title>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="home.html" th:href="@{/}" class="homeButton">World Peas</a>
            <a href="shop.html" th:href="@{/shop}" class="shopButton">Shop</a>
            <a href="news.html" th:href="@{/news}" class="newsButton">Newstand</a>
            <a href="about.html" th:href="@{/about}" class="aboutButton">Who we are</a>
            <a href="profile.html" th:href="@{/profile}" class="profileButton">My profile</a>
            <a href="basket.html" th:href="@{/basket}" class="basketButton">Basket (<span th:text="${sumElementsInBasket}" id="basketButtonText"></span>)</a>
        </nav>
    </header>
    <main>
        <div class="textField">
            <p class="text" th:utext="${text}"></p>
        </div>
        <button class="backButton">

        </button>
        <button class="shareButton" onclick="shareText()">
            
        </button>
        <button class="copyButton" onclick="copyText()">
            
        </button>
    </main>
</body>
</html>