<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{shop.css}">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <title>World Peas | Shop</title>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="home.html" th:href="@{/}" class="homeButton">World Peas</a>
            <a href="shop.html" th:href="@{/shop}" class="shopButton">Shop</a>
            <a href="news.html" th:href="@{/news}" class="newsButton">Newstand</a>
            <a href="about.html" th:href="@{/about}" class="aboutButton">Who we are</a>
            <a href="profile.html" th:href="@{/profile}" class="profileButton">My profile</a>
            <a href="basket.html" th:href="@{/basket}" class="basketButton">Basket (<span th:text="${basketCount}"></span>)</a>
        </nav>
    </header>
    <main>
        <div class="sortHeader">
            <hr class="divider">
            <h1 class="caption">Produce</h1>
            <p class="todayLocate"><span class="boldFresh">Fresh — </span><span class="today" th:text="${data}"></span></p>
            <div id="buttons">
                <button id="defaultSortButton" th:class="${sortType == 'default' ? 'active defaultSortButton' : 'defaultSortButton'}" onclick="sortDefault(); resetButtonStyles(); changeButtonStyle(this)">Default</button>
                <button id="a-zSortButton" th:class="${sortType == 'a-z' ? 'active a-zSortButton' : 'a-zSortButton'}" onclick="sortByName(); resetButtonStyles(); changeButtonStyle(this)">A-Z</button>
                <button id="priceSortButton" th:class="${sortType == 'price' ? 'active priceSortButton' : 'priceSortButton'}" onclick="sortByPrice(); resetButtonStyles(); changeButtonStyle(this)">Price view</button>
            </div>
            <div id="productList" class="productList">
                <div class="product heirloomTomatoProduct" data-index="1" data-name="h" data-price="5.99">
                    <div class="name">Heirloom tomato</div>
                    <div class="price">$5.99 / lb</div>
                    <div class="grown">Grown in San Juan Capistrano, CA</div>

                    <div class="minus"></div>
                    <div class="plus"></div>
                    <div class="frame"></div>
                    <!-- внутри frame должен будет еще лежать тег с кол-вом добавленных товаров в корзину -->
                </div>
                <div class="product sweetOnionProduct" data-index="2" data-name="s" data-price="2.99">
                    <div class="name">Sweet onion</div>
                    <div class="price">$2.99 / lb</div>
                    <div class="grown">Grown in Yosemite National Park, CA</div>
                    
                    <div class="minus"></div>
                    <div class="plus"></div>
                    <div class="frame"></div>
                    <!-- внутри frame должен будет еще лежать тег с кол-вом добавленных товаров в корзину -->
                </div>
                <div class="product organicGingerProduct" data-index="3" data-name="o" data-price="12.99">
                    <div class="name">Organic ginger</div>
                    <div class="price">$12.99 / lb</div>
                    <div class="grown">Grown in Huntington Beach, CA</div>

                    <div class="minus"></div>
                    <div class="plus"></div>
                    <div class="frame"></div>
                    <!-- внутри frame должен будет еще лежать тег с кол-вом добавленных товаров в корзину -->
                </div>
            </div>            
        </div>
    </main>
    <script th:inline="javascript">
        function sortByName() {
            var productList = document.getElementById('productList');
            
            var items = productList.querySelectorAll("div");
            
            items = Array.from(items);
            
            items.sort(function(a, b) {
                var nameA = a.getAttribute('data-name').toUpperCase();
                var nameB = b.getAttribute('data-name').toUpperCase();
                return nameA.localeCompare(nameB);
            });
            
            for (var index = 0; index < items.length; index++) {
                 var item = items[index];

                item.id = (index + 1) + '';

                var items_child = item.children;
                for (var i = 0; i < items_child.length; i++) {
                    if (i === 0 ) items_child[i].id = 'name_' + item.id;
                    else if (i === 1) items_child[i].id = 'price_' + item.id;
                    else if (i === 2) items_child[i].id = 'grown_' + item.id;

                    else if (i === 3) items_child[i].id = 'minus_' + item.id;
                    else if (i === 4) items_child[i].id = 'plus_' + item.id;
                    else if (i === 5) items_child[i].id = 'frame_' + item.id;

                    item.appendChild(items_child[i]);
                }
                
                document.getElementById('productList').appendChild(item);
            }




        }

        function sortByPrice() {
            var productList = document.getElementById('productList');
            
            var items = productList.querySelectorAll("div");

            items = Array.from(items);
            
            items.sort(function(a, b) {
            var priceA = parseInt(a.getAttribute('data-price'));
            var priceB = parseInt(b.getAttribute('data-price'));
            return priceA - priceB;
            });

            for (var index = 0; index < items.length; index++) {
                var item = items[index];

                item.id = (index + 1) + '';

                var items_child = item.children;
                for (var i = 0; i < items_child.length; i++) {
                    if (i === 0 ) items_child[i].id = 'name_' + item.id;
                    else if (i === 1) items_child[i].id = 'price_' + item.id;
                    else if (i === 2) items_child[i].id = 'grown_' + item.id;

                    else if (i === 3) items_child[i].id = 'minus_' + item.id;
                    else if (i === 4) items_child[i].id = 'plus_' + item.id;
                    else if (i === 5) items_child[i].id = 'frame_' + item.id;

                    item.appendChild(items_child[i]);
                }
                
                document.getElementById('productList').appendChild(item);
            }
            
            }
            function sortDefault() {
    var productList = document.getElementById('productList');
    
    var items = productList.querySelectorAll("div");
    
    items = Array.from(items);
    
    items.sort(function(a, b) {
        var indexA = parseInt(a.getAttribute('data-index'));
        var indexB = parseInt(b.getAttribute('data-index'));
        return indexA - indexB;
    });

    for (var index = 0; index < items.length; index++) {
        var item = items[index];
        
        item.id = (index + 1) + '';

        var items_child = item.children;

        for (var i = 0; i < items_child.length; i++) {
            var childElement = document.getElementById('productList').createElement('div');
            childElement.innerHTML = items_child[i].innerHTML;

            if (i === 0) childElement.id = 'name_' + item.id;
            else if (i === 1) childElement.id = 'price_' + item.id;
            else if (i === 2) childElement.id = 'grown_' + item.id;
            else if (i === 3) childElement.id = 'minus_' + item.id;
            else if (i === 4) childElement.id = 'plus_' + item.id;
            else if (i === 5) childElement.id = 'frame_' + item.id;

            item.appendChild(childElement);
        }
        
        document.getElementById('productList').appendChild(item);
    }
}

        
        
        
        function resetButtonStyles() {
            var buttonsDiv = document.getElementById('buttons');
        
            if (buttonsDiv) {
                var buttons = buttonsDiv.getElementsByTagName('button');
        
                for (var i = 0; i < buttons.length; i++) {
                    buttons[i].style.color = 'black';
                    buttons[i].style.backgroundColor = 'white';
                    buttons[i].style.border = '1px solid rgb(194, 194, 194)';
                }
            }
        }
        function changeButtonStyle(button) {
            var buttonId = button.id;
        
            button.style.color = 'white';
            button.style.backgroundColor = '#426B1F';
            button.style.border = '0';
        }
    </script>
</body>
</html>