<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{shop.css}">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <title>World Peas | Shop</title>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="home.html" th:href="@{/}" class="homeButton">World Peas</a>
            <a href="shop.html" th:href="@{/shop}" class="shopButton">Shop</a>
            <a href="news.html" th:href="@{/news}" class="newsButton">Newstand</a>
            <a href="about.html" th:href="@{/about}" class="aboutButton">Who we are</a>
            <a href="profile.html" th:href="@{/profile}" class="profileButton">My profile</a>
            <a href="basket.html" th:href="@{/basket}" class="basketButton">Basket (<span th:text="${basketCount}"></span>)</a>
        </nav>
    </header>
    <main>
        <div class="sortHeader">
            <hr class="divider">
            <h1 class="caption">Produce</h1>
            <p class="todayLocate"><span class="boldFresh">Fresh — </span><span class="today" th:text="${data}"></span></p>
            <div id="buttons">
                <button id="defaultSortButton" th:class="${sortType == 'default' ? 'active defaultSortButton' : 'defaultSortButton'}" onclick="sortDefault(); resetButtonStyles(); changeButtonStyle(this)">Default</button>
                <button id="a-zSortButton" th:class="${sortType == 'a-z' ? 'active a-zSortButton' : 'a-zSortButton'}" onclick="sortByName(); resetButtonStyles(); changeButtonStyle(this)">A-Z</button>
                <button id="priceSortButton" th:class="${sortType == 'price' ? 'active priceSortButton' : 'priceSortButton'}" onclick="sortByPrice(); resetButtonStyles(); changeButtonStyle(this)">Price view</button>
            </div>
            <div id="productList" class="productList">
                <div class="product heirloomTomatoProduct" data-index="1" data-name="h" data-price="5.99"></div>
                    <div id="name_1" class="name heirloomTomatoName">Heirloom tomato</div>
                    <div id="price_1" class="price heirloomTomatoPrice">$5.99 / lb</div>
                    <div id="grown_1" class="grown heirloomTomatoGrown">Grown in San Juan Capistrano, CA</div>
                    <div id="picture_1" class="picture heirloomTomatoPicture" style="background-image: url('https://imgc.artprintimages.com/img/print/mitch-diamond-tomatoes-on-vine_u-l-pxz7un0.jpg?background=f3f3f3');"></div>
                    <div class="minus" style="left: calc(290px / 3 * 4); top: calc(340px / 3 * 4);"></div>
                    <div id="minus_1" class="reduce heirloomTomatoMinus" onclick=""></div>
                    <div class="minus" style="left: calc(358px / 3 * 4); top: calc(340px / 3 * 4);"></div>
                    <div class="minus" style="left: calc(358px / 3 * 4); top: calc(340px / 3 * 4); transform: rotate(-90deg);"></div>
                    <div id="plus_1" class="reduce heirloomTomatoPlus" onclick=""></div>
                    <div class="frame" style="left: calc(319px / 3 * 4); top: calc(328px / 3 * 4);"></div>
                    <div id="number_1" class="number heirloomTomatoNumber" th:text="${heirloomTomatoCount}"></div>
                    <!-- это НЕ ДОЧЕРНИЕ теги!!! -->
                <div class="product sweetOnionProduct" data-index="2" data-name="s" data-price="2.99"></div>
                    <div id="name_2" class="name sweetOnionName">Sweet onion</div>
                    <div id="price_2" class="price sweetOnionPrice">$2.99 / lb</div>
                    <div id="grown_2" class="grown sweetOnionGrown">Grown in Yosemite National Park, CA</div>
                    <div id="picture_2" class="picture sweetOnionPicture" style="background-image: url('https://www.localguidesconnect.com/t5/image/serverpage/image-id/1459713i630E85CDBE00D075/image-size/medium?v=v2&px=400');"></div>                    
                    <div class="minus" style="left: calc(717px / 3 * 4); top: calc(340px / 3 * 4);"></div>
                    <div id="minus_2" class="reduce sweetOnionMinus" onclick=""></div>
                    <div class="minus" style="left: calc(785px / 3 * 4); top: calc(340px / 3 * 4);"></div>
                    <div class="minus" style="left: calc(785px / 3 * 4); top: calc(340px / 3 * 4); transform: rotate(-90deg);"></div>
                    <div id="plus_2" class="reduce sweetOnionPlus" onclick=""></div>
                    <div class="frame" style="left: calc(746px / 3 * 4); top: calc(328px / 3 * 4);"></div>
                    <div id="number_2" class="number sweetOnionNumber" th:text="${sweetOnionCount}"></div>
                     <!-- это НЕ ДОЧЕРНИЕ теги!!! -->
                <div class="product organicGingerProduct" data-index="3" data-name="o" data-price="12.99"></div>
                    <div id="name_3" class="name organicGingerName">Organic ginger</div>
                    <div id="price_3" class="price organicGingerPrice">$12.99 / lb</div>
                    <div id="grown_3" class="grown organicGingerGrown">Grown in Huntington Beach, CA</div>
                    <div id="picture_3" class="picture organicGingerPicture" style="background-image: url('https://farzana.ae/images/thumbs/0007672_organic-ginger.jpeg');"></div>
                    <div class="minus" style="left: calc(1144px / 3 * 4); top: calc(340px / 3 * 4);"></div>
                    <div id="minus_3" class="reduce organicGingerMinus" onclick=""></div>
                    <div class="minus" style="left: calc(1212px / 3 * 4); top: calc(340px / 3 * 4);"></div>
                    <div class="minus" style="left: calc(1212px / 3 * 4); top: calc(340px / 3 * 4); transform: rotate(-90deg);"></div>
                    <div id="plus_3" class="reduce organicGingerPlus" onclick=""></div>
                    <div class="frame" style="left: calc(1173px / 3 * 4); top: calc(328px / 3 * 4);"></div>
                    <div id="number_3" class="number organicGingerNumber" th:text="${organicGingerCount}"></div>
                     <!-- это НЕ ДОЧЕРНИЕ теги!!! -->
            </div>
        </div>
    </main>
    <script th:inline="javascript">
        function sortByName() {
            var productList = document.getElementById('productList');

            var elementsWithClass = document.querySelectorAll('.product');
            var elementsWithoutClass = document.querySelectorAll(':not(.product)');

            elementsWithClass = Array.from(elementsWithClass);
            elementsWithoutClass = Array.from(elementsWithoutClass);
            
            elementsWithClass.sort(function(a, b) {
                var nameA = a.getAttribute('data-name');
                var nameB = b.getAttribute('data-name');
                return nameA.localeCompare(nameB);
            });
            
            for (var index = 0; index < elementsWithClass.length; index++) {
                var element = elementsWithClass[index];

                element.id = (index + 1) + '';
                
                document.getElementById('productList').appendChild(element);
            }
            
            for (var index = 0; index < elementsWithClass.length; index++) {
                if (elementsWithClass[index].getAttribute('data-name') === 'h') {
                    document.querySelector('.heirloomTomatoName').id = 'name_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoName'));
                    document.querySelector('.heirloomTomatoPrice').id = 'price_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoPrice'));
                    document.querySelector('.heirloomTomatoGrown').id = 'grown_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoGrown'));
                    document.querySelector('.heirloomTomatoPicture').id = 'picture_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoPicture'));

                    document.querySelector('.heirloomTomatoMinus').id = 'minus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoMinus'));
                    document.querySelector('.heirloomTomatoPlus').id = 'plus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoPlus'));
                    document.querySelector('.heirloomTomatoNumber').id = 'number_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoNumber'));

                    // TODO number, reduces
                } else if (elementsWithClass[index].getAttribute('data-name') === 's') {
                    document.querySelector('.sweetOnionName').id = 'name_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionName'));
                    document.querySelector('.sweetOnionPrice').id = 'price_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionPrice'));
                    document.querySelector('.sweetOnionGrown').id = 'grown_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionGrown'));
                    document.querySelector('.sweetOnionPicture').id = 'picture_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionPicture'));

                    document.querySelector('.sweetOnionMinus').id = 'minus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionMinus'));
                    document.querySelector('.sweetOnionPlus').id = 'plus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionPlus'));
                    document.querySelector('.sweetOnionNumber').id = 'number_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionNumber'));

                } else if (elementsWithClass[index].getAttribute('data-name') === 'o') {
                    document.querySelector('.organicGingerName').id = 'name_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerName'));
                    document.querySelector('.organicGingerPrice').id = 'price_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerPrice'));
                    document.querySelector('.organicGingerGrown').id = 'grown_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerGrown'));
                    document.querySelector('.organicGingerPicture').id = 'picture_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerPicture'));

                    document.querySelector('.organicGingerMinus').id = 'minus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerMinus'));
                    document.querySelector('.organicGingerPlus').id = 'plus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerPlus'));
                    document.querySelector('.organicGingerNumber').id = 'number_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerNumber'));
                }
            }
        }

        function sortByPrice() {
            var productList = document.getElementById('productList');

            var elementsWithClass = document.querySelectorAll('.product');
            var elementsWithoutClass = document.querySelectorAll(':not(.product)');

            elementsWithClass = Array.from(elementsWithClass);
            elementsWithoutClass = Array.from(elementsWithoutClass);
            
            elementsWithClass.sort(function(a, b) {
            var priceA = parseInt(a.getAttribute('data-price'));
            var priceB = parseInt(b.getAttribute('data-price'));
            return priceA - priceB;
            });

            for (var index = 0; index < elementsWithClass.length; index++) {
                var element = elementsWithClass[index];

                element.id = (index + 1) + '';
                
                document.getElementById('productList').appendChild(element);
            }
            
            for (var index = 0; index < elementsWithClass.length; index++) {
                if (elementsWithClass[index].getAttribute('data-name') === 'h') {
                    document.querySelector('.heirloomTomatoName').id = 'name_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoName'));
                    document.querySelector('.heirloomTomatoPrice').id = 'price_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoPrice'));
                    document.querySelector('.heirloomTomatoGrown').id = 'grown_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoGrown'));
                    document.querySelector('.heirloomTomatoPicture').id = 'picture_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoPicture'));

                    document.querySelector('.heirloomTomatoMinus').id = 'minus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoMinus'));
                    document.querySelector('.heirloomTomatoPlus').id = 'plus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoPlus'));
                    document.querySelector('.heirloomTomatoNumber').id = 'number_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoNumber'));

                    // TODO number, reduces
                } else if (elementsWithClass[index].getAttribute('data-name') === 's') {
                    document.querySelector('.sweetOnionName').id = 'name_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionName'));
                    document.querySelector('.sweetOnionPrice').id = 'price_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionPrice'));
                    document.querySelector('.sweetOnionGrown').id = 'grown_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionGrown'));
                    document.querySelector('.sweetOnionPicture').id = 'picture_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionPicture'));

                    document.querySelector('.sweetOnionMinus').id = 'minus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionMinus'));
                    document.querySelector('.sweetOnionPlus').id = 'plus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionPlus'));
                    document.querySelector('.sweetOnionNumber').id = 'number_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionNumber'));

                } else if (elementsWithClass[index].getAttribute('data-name') === 'o') {
                    document.querySelector('.organicGingerName').id = 'name_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerName'));
                    document.querySelector('.organicGingerPrice').id = 'price_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerPrice'));
                    document.querySelector('.organicGingerGrown').id = 'grown_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerGrown'));
                    document.querySelector('.organicGingerPicture').id = 'picture_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerPicture'));

                    document.querySelector('.organicGingerMinus').id = 'minus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerMinus'));
                    document.querySelector('.organicGingerPlus').id = 'plus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerPlus'));
                    document.querySelector('.organicGingerNumber').id = 'number_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerNumber'));
                }
            }
            
            }
            function sortDefault() {
                var productList = document.getElementById('productList');

                var elementsWithClass = document.querySelectorAll('.product');
                var elementsWithoutClass = document.querySelectorAll(':not(.product)');

                elementsWithClass = Array.from(elementsWithClass);
                elementsWithoutClass = Array.from(elementsWithoutClass);
    
                elementsWithClass.sort(function(a, b) {
                    var indexA = parseInt(a.getAttribute('data-index'));
                    var indexB = parseInt(b.getAttribute('data-index'));
                    return indexA - indexB;
                });
                for (var index = 0; index < elementsWithClass.length; index++) {
                var element = elementsWithClass[index];

                element.id = (index + 1) + '';
                
                document.getElementById('productList').appendChild(element);
                }
            
                for (var index = 0; index < elementsWithClass.length; index++) {
                if (elementsWithClass[index].getAttribute('data-name') === 'h') {
                    document.querySelector('.heirloomTomatoName').id = 'name_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoName'));
                    document.querySelector('.heirloomTomatoPrice').id = 'price_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoPrice'));
                    document.querySelector('.heirloomTomatoGrown').id = 'grown_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoGrown'));
                    document.querySelector('.heirloomTomatoPicture').id = 'picture_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoPicture'));

                    document.querySelector('.heirloomTomatoMinus').id = 'minus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoMinus'));
                    document.querySelector('.heirloomTomatoPlus').id = 'plus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoPlus'));
                    document.querySelector('.heirloomTomatoNumber').id = 'number_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.heirloomTomatoNumber'));

                    // TODO number, reduces
                } else if (elementsWithClass[index].getAttribute('data-name') === 's') {
                    document.querySelector('.sweetOnionName').id = 'name_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionName'));
                    document.querySelector('.sweetOnionPrice').id = 'price_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionPrice'));
                    document.querySelector('.sweetOnionGrown').id = 'grown_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionGrown'));
                    document.querySelector('.sweetOnionPicture').id = 'picture_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionPicture'));

                    document.querySelector('.sweetOnionMinus').id = 'minus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionMinus'));
                    document.querySelector('.sweetOnionPlus').id = 'plus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionPlus'));
                    document.querySelector('.sweetOnionNumber').id = 'number_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.sweetOnionNumber'));

                } else if (elementsWithClass[index].getAttribute('data-name') === 'o') {
                    document.querySelector('.organicGingerName').id = 'name_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerName'));
                    document.querySelector('.organicGingerPrice').id = 'price_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerPrice'));
                    document.querySelector('.organicGingerGrown').id = 'grown_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerGrown'));
                    document.querySelector('.organicGingerPicture').id = 'picture_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerPicture'));

                    document.querySelector('.organicGingerMinus').id = 'minus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerMinus'));
                    document.querySelector('.organicGingerPlus').id = 'plus_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerPlus'));
                    document.querySelector('.organicGingerNumber').id = 'number_' + (index + 1);
                    document.getElementById('productList').appendChild(document.querySelector('.organicGingerNumber'));
                }
            }
            }

        
        
        
        function resetButtonStyles() {
            var buttonsDiv = document.getElementById('buttons');
        
            if (buttonsDiv) {
                var buttons = buttonsDiv.getElementsByTagName('button');
        
                for (var i = 0; i < buttons.length; i++) {
                    buttons[i].style.color = 'black';
                    buttons[i].style.backgroundColor = 'white';
                    buttons[i].style.border = '1px solid rgb(194, 194, 194)';
                }
            }
        }
        function changeButtonStyle(button) {
            var buttonId = button.id;
        
            button.style.color = 'white';
            button.style.backgroundColor = '#426B1F';
            button.style.border = '0';
        }
    </script>
</body>
</html>